.MainWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 20px;
}
.MainHeader {
    background-color: #93C0A4;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px;
    font-family: 'Anton', sans-serif;
}

.LinkStyle :hover {
    cursor: pointer;
}